:root{
    /*color variables*/
    --color-indigo: #1b003f;
    --color-purple: #4b0082;
    --color-dark-blue: #191970;
    --color-lavender: #e6e6fa;
    --color-light-blue: #6495ed;

    /*font and shit*/
    --font-size: 16px;
    --font-family: 'courier new', courier, monospace;

    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*utline: red dotted 1px*/

    
}

body{
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content >*{
    flex: 1;
}