.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--color-dark-blue);
    background: linear-gradient(135deg, var(--color-dark-blue) 0% 40%, var(--color-purple) 90% 100%);


    color: var(--color-lavender);
}

.navLogo *{
    color: var(--color-lavender);
    transition: transform 2s ease-in-out;
}

.navLogo :hover{
    transform: rotate(360deg);
}